body {
    color:black;
    font-family: Arial, san-serif;
    background-image:url(../Images/City_Landscape_Background.jpg);
    background-image:url(../Images/image.png);
    background-color:rgba(103, 105, 248, 0.3)
    
 
   

 }





#header {

    background-color:rgba(52, 16, 197,0.9) ;
    padding: 10px 10px 10px 10px;
    width:100%;
    /*float: left;
    left: 50%;*/
    position: absolute;
    margin-top:0px;
    margin-left: 50x;
    margin-bottom: 50px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;

}






#header h1 {
    color:white;
    text-align:center;
    font-weight: 700px;

}


#result {


    margin-top: top;
    float:top;
    top:30%;
    position:absolute;
    max-width: 100%;
    margin-left: 390px;
    padding: 10px 10px 10px 10px;

}


#result h3 {

    color: grey;
    font-weight:700;
    text-align:center;
  
    

}

#login {

    margin-top:300px;
    margin-left:500px;
    width:190px;
    padding:20px 5px 20px 5px;
    background-color: rgb(12, 189, 21);
    text-align:center;
    border-radius: 10px;
}

#login a{

    color:white;
    font-weight:300;
}


#login  a:hover{
    color:blue;
    text-decoration: None;
    

}

a:link {
    text-decoration: none;

    


  }





* {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
 }
 





